<!DOCTYPE html>
<head>
    {% block head %}
    {% endblock %}
    {% load static %}


</head>
<body>
    <header class="header">
        <div class="container">
            <a href="{% url 'home' %}"><img width="50px" src="{% static '/images/psicologia.png' %}"></a>
        </div>
        <div class="container">
            <a class="center " href="{% url 'home' %}"><img width="50px" src="{% static '/images/add.png' %}"></a>
            <p class="center subtitle">Agendar sesión</p>

        </div>
        <div class="container">
            <a  class="header-derecho" href="{% url 'home' %}"><img width="50px" src="{% static '/images/user.png' %}"></a>
            <a class="header-derecho" href="{% url 'home' %}"><img width="50px" src="{% static '/images/hamburger.png' %}"></a>
        </div>
    </header>
{% block content %}
{% endblock %}

    <!-- <div class="container">
        <p class="center"> Diseñado por Saúl Monique</p>
    </div> -->
</body>
</html>