<!DOCTYPE html>
<head>
    {% block head %}
    {% endblock %}
    {% load static %}


</head>
<body>
    <header class="header">
        <div class="container">
            <a href="{% url 'teg:home' %}"><img width="50px" src="{% static '/images/psicologia.png' %}"></a>
        </div>
        <div class="container">
            <a class="center " href="{% url 'teg:home' %}"><img width="50px" src="{% static '/images/add.png' %}"></a>
            <p class="center subtitle">Agendar sesión</p>

        </div>
        <div class="container">
            <a  class="header-derecho" href="{% url 'teg:home' %}"><img width="50px" src="{% static '/images/user.png' %}"></a>
            <a href="javascript:void(0)" class="header-derecho" onclick="sidebar()"><img width="50px" src="{% static '/images/hamburger.png' %}">
            </a>
            <!-- sidebar menu -->
            <div id="hamburguer" class="sidebar hidden">
                <!--profile image & text-->
                <br>
                <a style="font-size: 20px; color: #000; font-weight: 600; padding:10px;" href="javascript:void(0)" onclick="closeSidebar()"> X </a>
                <div class="profile">
                <img width="50px" src="{% static '/images/psicologia.png' %}">
                </div>
                <ul>
                    <li>
                        <a href="#" class="active">
                            <span class="icon"><i class="fas fa-home"></i></span>
                            <span class="item">Inicio</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fa-regular fa-user"></i></span>
                            <span class="item">Registrarse</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fa-solid fa-question"></i></span>
                            <span class="item">FAQ</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fa-solid fa-mobile-screen-button"></i></i></span>
                            <span class="item">Contacto</span>
                        </a>
                    </li>
                </ul>
            </div>
                 <!--menu item-->
             </div>

        </div>
    </header>
{% block content %}
{% endblock %}

<footer class="footer">
    <div class="container">
        <h3 class="main-title">Sigue navegando</h3>
        <ul>
            <li class="lista"><a href="#">Iniciar sesión</a></li>
            <li class="lista"><a href="#">Registrarse</a></li>
            <li class="lista"><a href="#">FAQ</a></li>
            <li class="lista"><a href="#">Inicio</a></li>
        </ul>
    </div>
    <div class="container">
        <h3 class="main-title">Contáctanos</h3>
        <img class="footer-inline" width="30px" src="{% static '/images/email.png' %}">
        <p class="footer-inline center subtitle">info@psicoya.com</p><br>
        <img class="footer-inline" width="30px" src="{% static '/images/phone-call.png' %}">
        <p class="footer-inline center subtitle">04242235649</p><br>
        <a href="#"><img  style="padding-right:5px;" class="footer-inline" width="25px" src="{% static '/images/twitter.png' %}"></a>
        <a href="#"><img style="padding-right:5px;" class="footer-inline" width="25px" src="{% static '/images/instagram.png' %}"></a>
        <a href="#"><img  style="padding-right:5px;" class="footer-inline" width="15px" src="{% static '/images/facebook.png' %}"></a>


    </div>
    <div class="container">
        <a class="center" href="{% url 'teg:home' %}"><img width="50px" src="{% static '/images/psicologia-white.png' %}"></a>
       <p style="text-align: justify;" class="paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea id adipisci quae voluptate dolor magnam architecto doloribus libero nihil rem quia debitis totam ipsa atque, laborum aspernatur vel a? Adipisci.</p>
    </div>
</footer>

<!-- <div class="container">
    <p class="center"> Diseñado por Saúl Monique</p>
</div> -->
<script> 
    function sidebar(){
        var hamburger = document.getElementById("hamburguer");
        hamburger.classList.remove("hidden");
    }
    function closeSidebar(){
        let close = document.getElementById("hamburguer");
        close.classList.add("hidden");
    }
</script>
</body>
</html>