<html>
  <head>

  </head>
<body>
<h2>Hola, recibimos una postulación de: {{ mail }} para ser psicólogo en psico-Ya.</h2>
<p>Estos son los datos llenados en el formulario:<p> <br>
<p>Nombre {{ nombre }}</p>
<p>CI: {{ cedula }}</p>
<p>FVP {{ FVP }}</p>
<p>Teléfono {{ Teléfono }}</p>
<p>Nombre de usuario {{ nombreusuario }}</p>
<p>Dirección: {{ Ubicacion }}</p>



<p>De ser aprobado, serás notificado a través de tu correo electrónico.
El proceso de verificación tarda de 24 a 48hrs hábiles.</p>
</body>
</html>