{% extends 'base.html' %}

{% load static %}

{% block head %}
<script src="https://kit.fontawesome.com/d6418d4463.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'styles.css' %}">
<link rel="javascript" href="{% static 'main.js' %}">
{% endblock %}

{% block content %}
<!-- banner -->
<div class="full-container">
    <div class="column a">
        <div class="inner">
          <img class="img-slide" src="{% static '/images/slide_terapia.png'%}" />
        </div>
    </div>
    <div class="column b">
        <div class="inner">
            <h1 class="main-title">SESIONES DE TERAPIA <br>
                <span class="resaltado"> AL ALCANCE DE TU MANO</span></h1>
            <a class="btn center" href="#detalles">¿CÓMO FUNCIONA?</a>
        </div>
    </div>
</div>
<!-- Barra de búsqueda -->
<div class="full-container-anexo">
    <div class="busqueda">
        <!-- insertar busqueda aqui -->
    </div>

</div>
<!-- sección de psicoYa / parte izquierda -->
<div class="full-container-transparente">

    <div class="column a">
        <div class="inner">
          <img class="img-slide" src="{% static '/images/sujeto_form.png'%}" />
        <div class="form-bg">
            <h3 style="color: #fff;"> <a style="text-decoration: none; color: #fff;" href="#footer">¿Tienes dudas?</a></h3>
        </div>
           
        </div>
    <!-- Parte derecha debajo del buscador. -->
    </div>
    <div class="column b"id="detalles">
        <div class="">
            <h1 class="main-title">Accesibles para estudiantes <br>
                <span class="resaltado"> Somos PSICO-YA</span></h1>
                <p>La atención psicológica que necesitas adecuada a ti</p>
        <div class="seccion-inline">
            <div class="inline a"> 
                <img class="arrow-img" src="{% static '/images/arrow.png'%}" />
            </div>
            <div class="inline b">
                <h2>Servicio 24/7</h2>
                <p>Disponible par ti en todomomento, trabajamos durante todo el año, las 24 horas del día.</p>
            </div>
        </div>

        <div class="seccion-inline">
            <div class="inline a"> 
                <img class="arrow-img" src="{% static '/images/arrow.png'%}" />
            </div>
            <div class="inline b">
                <h2>Agenda tu sesión</h2>
                <p>Simplemente ingresa en el perfil del psicólogo con quieras ver una consulta y solicita agendar una sesión.</p>
            </div>
        </div>

        <div class="seccion-inline">
            <div class="inline a"> 
                <img class="arrow-img" src="{% static '/images/arrow.png'%}" />
            </div>
            <div class="inline b">
                <h2>Fácil y directo</h2>
                <p>Gestiona todo desde tu teléfono o computador, fácilmente y al alcance de un click!</p>
            </div>
        </div>
    
        </div>
    </div>
</div>
<!-- Seccion de 3 tablas / servicios -->

<!-- titulo -->
<div style="padding-left: 25%; padding-right: 25%">
<h1 class="main-title center"> Nuestro servicios</h1>
<p class="paragraph center">Encuentra un psicólogo facilmente gracias a nuestro buscador integrado, disponible en todo momento. </p>
</div>

<!-- 3 tabs -->
<div class="full-container-tabs">

    <div class="column">
        <div class="inner-table">
          <img class="img-slide icon-table " src="{% static '/images/lupa.png'%}" />
          <h1 class="second-title">Ubica tu psicólogo <br></h1>
          <p class="paragraph"> Utiliza el buscador para encontrar el psicólogo que más se adapte a ti.</p>
        <a class="btn center" href="{% url 'teg:publicaciones' %}">Ver más</a>
        </div>
    </div>
    <div class="column">
        <div class="inner-table">
          <img class="img-slide icon-table" src="{% static '/images/reloj.png'%}" /><br>
          <h1 class="second-title">Agenda tu sesión <br></h1>
          <p class="paragraph"> Una vez seleccionado el psicólogo, haz click en "Agendar sesión" para inciar contacto con él o ella.</p>
            <a class="btn center" href="{% url 'teg:publicaciones' %}">Ver más</a>
        </div>
    </div>
    <div class="column">
        <div class="inner-table">
          <img class="img-slide icon-table" src="{% static '/images/video-conference.png'%}" />
          <h1 class="second-title">Asiste a tu sesión Online <br></h1>
          <p class="paragraph"> Ya definida la fecha en el paso anterior, asiste a tu sesión de psicoterapia online!</p>
            <a class="btn center" href="{% url 'teg:publicaciones' %}">Ver más</a>
        </div>
    </div>
</div>

{% endblock %}