{% extends 'base.html' %}

{% load static %}

{% block head %}
<script src="https://kit.fontawesome.com/d6418d4463.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}
<!-- banner -->
<div class="full-container">
    <div class="column a">
        <div class="inner">
          <img class="img-slide" src="{% static '/images/slide_terapia.png'%}" />
        </div>
    </div>
    <div class="column b">
        <div class="inner">
            <h1 class="main-title">SESIONES DE TERAPIA <br>
                <span class="resaltado"> AL ALCANCE DE TU MANO</span></h1>
            <a class="btn center" href="#">¿CÓMO FUNCIONA?</a>
        </div>
    </div>
</div>
<!-- Barra de búsqueda -->
<div class="full-container-anexo">
    <div class="busqueda">
        <!-- insertar busqueda aqui -->
    </div>

</div>



{% endblock %}