{% extends 'base.html' %}

{% load static %}

{% block head %}
<script src="https://kit.fontawesome.com/d6418d4463.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'styles.css' %}">
<link rel="javascript" href="{% static 'main.js' %}">
{% endblock %}

{% block content %}
<h2 class="second-title center bgpurple">

  <form class="" method="POST" action="{% url 'teg:buscador'%}">
    {% csrf_token %}
    <input class="textarea" type="search" placeholder="Buscar psicólogos" aria-label="Search" name="buscado">
    <input class="formbtn" type="submit" value="Buscar">
  </form>
</h2> 
<h2 class="second-title center bgpurple">Conoce todos los psicólogos publicados</br></h2> 
<table class="line-table center">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th><th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for key in object_list %}
      <tr class="border-table">
        <td class="columna-table">
          <li >{{ key.usuario }}</li>
        </td>
        <td class="columna-table center-table">
          {% if key.duracionTerapia > 1 %}
          <li>Sesiones de: {{ key.duracionTerapia }} horas</li>
          {% else %}
          <li>Sesiones de: {{ key.duracionTerapia }} hora</li>
          {% endif %}
          <li class="resaltado">${{ key.precio }}</li>
          {% if key.IDplataformas.nombre == "PM" %}
            <li>Método: Pago móvil</li>
          {% elif key.IDplataformas.nombre == "ZE" %}
            <li>Método: Zelle</li>
          {% else %}
            <li>Método: Airtm </li>
          {% endif %}
        </td> 
        <td class="columna-table">
          <!-- Poner este con el model para que arme el enlace a wha borrar el de abajo -->
          <!-- <li ><a class="column-center" href="{url 'wha.me/+58{{key.telefono}}'}"><img class="arrow-img-table" src="{% static '/images/whatsapp.png'%}" /><br>Agendar</a></li> -->
          <li ><a class="column-center" href="{url 'wha.me/+58{{key.telefono}}'}"><img class="arrow-img-table" src="{% static '/images/whatsapp.png'%}" /><br>Agendar</a></li>
        </td>
        <td class="columna-table">
          {% if user.id == key.usuario.id %}
          <a id= "xbutton" href="{% url 'teg:borrarpublicacion' key.id %}"><img class="arrow-img-table" src="{% static '/images/remove.png'%}" /></a>
          {% endif %}
      </td> 
       
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
