{% extends 'base.html' %}

{% load static %}

{% block head %}
<script src="https://kit.fontawesome.com/d6418d4463.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'styles.css' %}">
<link rel="javascript" href="{% static 'main.js' %}">
{% endblock %}

{% block content %}
<!-- Seccion de 3 tablas / servicios -->

<!-- titulo -->
<div style="padding-left: 25%; padding-right: 25%">
<h1 class="main-title center"> Tu información</h1>
<img class="imgprofile center" style="object-fit: contain;" src="{% static '/images/profilepic.jpeg'%}"/>
<div class="full-container-tabs">

    <div class="column">
        <div class="inner-table-var">
          <p class="paragraph"> Nombre de usuario<br>{{ user.username }}</p>
        </div>
    </div>
    <div class="column">
        <div class="inner-table-var">
          <p class="paragraph"> Email<br>{{ user.email }}  </p>
        </div>
    </div>
    </div>
</div>
</div>


{% endblock %}