{% extends 'base.html' %}

{% load static %}

{% block head %}
<script src="https://kit.fontawesome.com/d6418d4463.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'styles.css' %}">
<link rel="javascript" href="{% static 'main.js' %}">
{% endblock %}

{% block content %}
<!-- Seccion de 3 tablas / servicios -->

<!-- titulo -->
<div style="padding-left: 25%; padding-right: 25%">
<h1 class="main-title center">¡Postúlate para ser psicólogo!</h1>
<p class="paragraph">¡Hola {{user.username}}! Llena los siguientes datos, nuestro equipo revisará tu postulación y te certificará como psicólogo.  </p>

<form action="#" method="POST" class="formpostulacion">

{% csrf_token %}
<label>Email</label>
<input type="text" name="mail" placeholder="example@gmail.com">
<label>Nombre</label>
<input type="text" name="nombre" placeholder="Juan García">
<label>Cédula</label>
<input type="number" name="cedula" placeholder="25887452">
<label>N° FVP</label>
<input type="number" name="FVP" placeholder="554879">
<label>Teléfono</label>
<input type="tel" name="Teléfono" placeholder="04241589548">
<label>Nombre de usuario</label>
{% if user.is_authenticated %}
<input type="text" name="nombreusuario" placeholder="juangar22" value="{{user.username}}" readonly>
{% else %}
<input type="text" name="nombreusuario" placeholder="juangar22">
{% endif %}
<label>Ubicación</label>
<input type="text" name="Ubicacion" placeholder="Calle 12, con avenida el cruce">
<input style="font-size: 20px;" type="submit" value="Enviar">
</form>

</div>
</div>

<h2>Agenda de próximas</h2>

{% endblock %}