{% extends 'base.html' %}

{% load static %}

{% block head %}
<script src="https://kit.fontawesome.com/d6418d4463.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'styles.css' %}">
<link rel="javascript" href="{% static 'main.js' %}">
{% endblock %}

{% block content %}
<!-- Seccion de 3 tablas / servicios -->

<!-- titulo -->
<div style="padding-left: 25%; padding-right: 25%">
<h1 class="main-title center">PUBLÍCATE COMO PSICÓLOGO</h1>
<p class="paragraph">¡Hola {{user.username}}! Al estar publicado, los demás usuarios podrán encontrarte y contactarte, sigue los sencillos pasos para llevarlo a cabo.  </p>
<h2 class="second-title center bgpurple">1. Selecciona tu método de pago.</h2> 
<h2 class="second-title center bgpurple">2. Selecciona el precio de tu consulta. </h2> 
<h2 class="second-title center bgpurple">3. Selecciona la duración de tu terapia.</h2> 
<p></p>


<form method="POST" class="publicarseform">
    {% csrf_token %}
    {{ form.as_p}}
        <input type="submit" value="Publicar">
    
    </form>

</div>
</div>

<script>
    document.querySelectorAll(".usuariomod")[0].value="{{user.id}}";
    document.querySelectorAll("label")[0].innerHTML="";
    document.querySelectorAll("label")[1].innerHTML="Método de pago"
</script>

{% endblock %}