{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="javascript" href="{% static 'main.js' %}">
<link rel="stylesheet" href="{% static 'registro_estilos.css' %}">
{% endblock %}

{% block content %}
<!-- banner -->
<div class="full-container">
    <div class="column a">
        <div class="inner">
            <h2 class="container main-title">CREAR UNA CUENTA</h2>
            <form class="form register" method="POST">
                {% csrf_token %}
                {{ register_form}}
                <input class ="formbtn" type="submit" value="Registrarse">
            </form>
        </div>
    </div>
    <div class="column b">
        <div class="inner">
            <h3 class="container main-title">¡Bienvenido/a!</h3>
            <p class="paragraph">Regístrate y comienza a buscar psicólogos, si eres uno, entonces podrás publicar tus servicios.</p>
            <img class="img-slide" src="{% static '/images/sujeto_form.png'%}" />
        </div>
    </div>
</div>

<script>
    document.querySelectorAll("label")[0].innerHTML="Nombre de ususario"
    document.querySelectorAll("label")[2].innerHTML="Contraseña"
    document.querySelectorAll("label")[3].innerHTML="<br>Repetir contraseña"
    document.querySelectorAll(".helptext")[0].innerHTML="Menos de 150 caracteres alfanuméricos, símbolos permitidos:  @/./+/-/_ "
    document.querySelectorAll(".helptext")[1].innerHTML="Tu contraseña debe tener más de 8 caracteres, no puede contener tu informacion y no puede ser solo numérico."
    document.querySelectorAll(".helptext")[2].innerHTML="Repite la contraseña para verificarla."
</script>

{% endblock %}